<?php
if( !defined( 'ROOT' ) ) exit( 'No direct script access allowed.' );
//Do your stuff here, whatever you want
?>

<h1><?php echo isset( $title ) ? $title : 'No title provided'; ?></h1>

<p>This file is <?php echo basename( __FILE__ ); ?></p>